@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

$bg: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg';
$form-bg: #f8f4e5;
$form-shadow: #ffa580;
$form-primary-highlight: #95a4ff;
$form-secondary-highlight: #ffc8ff;
$font-size: 14pt;
$font-face: 'Fjalla One';
$font-color: #2a293e;

* {
    margin: 0;
    padding: 0;
}
body {
    background: url($bg) center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

label {
    font-size: $font-size;
    line-height: $font-size * 2;
    font-family: $font-face;
}

input {
    display: block;
    width: 100%;
    font-size: $font-size;
    line-height: $font-size * 2;
    font-family: $font-face;
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-left: 1px solid rgba(0, 0, 0, 1);
    border-right: 2px solid rgba(0, 0, 0, 1);
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    background: $form-bg;
    min-width: 50px;
    max-width: 250px;
    padding-left: 5px;
    outline: none;
    color: rgba(0, 0, 0, 1);
}
input:focus {
    border-top: 1px solid $form-shadow;
    border-left: 1px solid $form-shadow;
    border-right: 2px solid $form-shadow;
    border-bottom: 2px solid $form-shadow;
}

textarea {
    font-size: $font-size;
    line-height: $font-size * 2;
    font-family: $font-face;
    background: $form-bg;
    width: 400px;
    height: 300px;
    min-width: 250px;
    max-width: 500px;
    min-height: 150px;
    max-height: 400px;
    padding-left: 5px;
    outline: none;
    color: rgba(0, 0, 0, 1);
}
textarea::placeholder {
    font-size: 16pt;
}

button {
    display: block;
    margin: 0 auto;
    line-height: $font-size * 2;
    padding: 0 20px;
    background: $form-shadow;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 1px 1px $form-primary-highlight,
        3px 3px 1px 2px rgba(0, 0, 0, 1);

    &:hover {
        background: rgba(0, 0, 0, 1);
        color: white;
        border: 1px solid rgba(0, 0, 0, 1);
    }
}
::selection {
    background: $form-secondary-highlight;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border-bottom: 5px solid $form-primary-highlight;
    -webkit-text-fill-color: $font-color;
    -webkit-box-shadow: 0 0 0px 1000px $form-bg inset;
    transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 320px) {
    label {
        font-size: 10pt;
        line-height: 10pt * 2;
    }
    input {
        display: block;
        width: 100%;
        font-size: 8pt;
        line-height: 8pt * 2;
    }

    textarea {
        font-size: 8pt;
        line-height: 8pt * 2;
        width: 200px;
        height: 150px;
        min-width: 100px;
        max-width: 200px;
        min-height: 50px;
        max-height: 150px;
    }
    textarea::placeholder {
        font-size: 8pt;
    }
}

@media (max-width: 425px) {
    label {
        font-size: 10pt;
        line-height: 10pt * 2;
    }
    input {
        display: block;
        width: 100%;
        font-size: 8pt;
        line-height: 8pt * 2;
    }

    textarea {
        font-size: 8pt;
        line-height: 8pt * 2;
        width: 250px;
        height: 175px;
        min-width: 100px;
        max-width: 250px;
        min-height: 50px;
        max-height: 175px;
    }
    textarea::placeholder {
        font-size: 8pt;
    }
}

@media (max-width: 768px) {
    label {
        font-size: 10pt;
        line-height: 10pt * 2;
    }
    input {
        display: block;
        width: 100%;
        font-size: 8pt;
        line-height: 8pt * 2;
    }

    textarea {
        font-size: 8pt;
        line-height: 8pt * 2;
        width: 250px;
        height: 175px;
        min-width: 100px;
        max-width: 250px;
        min-height: 50px;
        max-height: 175px;
    }
    textarea::placeholder {
        font-size: 8pt;
    }
}

@media (max-width: 1024px) {
    textarea {
        width: 250px;
        height: 200px;
        min-width: 250px;
        max-width: 250px;
        min-height: 150px;
        max-height: 200px;
    }
}
